.goal {
    padding: 10px;
    gap: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(20, 20, 20, 0.16);
}

.goal-content {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: #2d323f;
    color: white;
    height: 64.45vh;
    border-bottom: 2px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbo-bg {
    background-image: url('../img/triangle-bg.png');
    /* image source: https://pixabay.com/illustrations/triangles-shapes-the-geometry-of-the-3322776/ */
    background-position: center;
    background-size: cover;
}

.jumbotron {
    margin-bottom: 0px;
    border-bottom: 1px solid white;
}

nav {
    background-color: #000000;
    border-bottom: 1px solid white;
}

.nav-link {
    color: whitesmoke;
    text-shadow: 1px 1px 0.1px rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
    color: white;
    text-shadow: 1px 1px 0.1px #566177;
}

.footer-copyright {
    background-color: black;
    color: white;
    margin-top: 0;
}
