/* styling for links */
a:hover {
  color: #2f384d;
  text-decoration: inherit;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.card-link:hover {
  color: antiquewhite;
}

/* sets mains bg color to a blueish gray and fonts to white, and set bottom border of main to fit accent */
main {
  background-color: #2d323f;
  border-bottom: 2px solid white;
}

main, table {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* added 1rem padding to top of h2 */
h2 {
  padding: 1rem;
  padding-top: 2rem;
}

/* added padding around images and curved corners */
img {
  padding: 1.5rem;
  border-radius: 65px;
}

/* set navbar color and bottom border */
nav {
  background-color: #000000;
  border-bottom: 1px solid white;
}

/* img attribution styling */
.src {
  padding-left: 2rem;
  color: #5f6470;
  font-size: 8px;
}

.src:hover {
  color: #567cd6;
  font-size: 16px;
}

.jumbotron {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
}

/* styling for navbar links */
.nav-link {
  color: whitesmoke;
  text-shadow: 1px 1px 0.1px rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
  color: white;
  text-shadow: 1px 1px 0.1px #566177;
}

/* styling for form */
form {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

div>label, .form-check {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.missed-day-link {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  margin-top: 1rem;
  background-color: black;
  border-color: white;
  margin-bottom: 1.5rem;
}

.yesno-btn {
  background-color: black;
  color: white;
  border-color: white;
}

.submit-btn {
  margin-top: 2rem;
}

/* date picker */
.input-group {
  padding-top: 2rem;
}

/* styling for footer */
.footer-copyright {
  background-color: black;
  color: white;
  margin-top: 0;
  position: absolute;
  width: 100%;
}

/* Float four columns side by side */
.column {
  display: flex;
  flex: 1;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  display: flex;
  margin-right: 0;
  margin-left: 0;
}

/* Style the counter cards */
.card {
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #2d323f;
  border-style: solid;
  border-color: white;
}

.viz {
  height: 35vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.viz:hover {
  opacity: 0.5;
}

.check-in-button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.check-in-button:hover {
  transition-duration: 0.2s;
  background-color: coral;
}

/* Styling for the goal cards */
.goal {
  padding: 10px;
  gap: 10px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(20, 20, 20, 0.16);
}

.goal-complete {
  padding: 10px;
  gap: 10px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(20, 20, 20, 0.16);
  background-color: #4CAF50;
}


.goal-content {
  display: flex;
  justify-content: space-between;
}

/* table styling */
table {
  border-collapse: collapse;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

/* click-here prompt styling */
.click-here {
  font-size: 12px;
  color: #ffffff;
  text-shadow: -1px 1px 0 #566177,
    1px 1px 0 #566177,
    1px -1px 0 #566177,
    -1px -1px 0 #566177;
}

.sustainability-pledge {
  display: none;
}

.motto {
  font-size: 0.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

/* styling for chartjs */
.chartjs {
  width: 75%;
}

/* goals styling */
.goal-input {
  width: auto;
}

.mobile-viz {
  display: none;
}

.mini-viz {
  display: none;
}

/* checkin form stying */
.form-width {
  width: 10vh;
}

.navbar-mobile {
  padding-left: 35vh;
  padding-right: 35vh;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  text-align: center !important;
}

/* styling changes as screen size changes based off rules defined below */
@media (min-width: 576px) {

  /* set jumbotron background image/removed margin */
  .jumbo-bg {
    background-image: url('../public/img/triangle-bg.png');
    /* image source: https://pixabay.com/illustrations/triangles-shapes-the-geometry-of-the-3322776/ */
    background-position: center;
    background-size: cover;
    width: 100%;
  }


}

@media (min-width: 768px) {
  .sustainability-pledge {
    display: block;
  }

  .motto {
    font-size: 0.8rem;
  }

  .fit-picture {
    height: 12vh;
    float: fixed;
    left: 0px;
    bottom: 20px;
  }

  .mini-viz {
    display: flex;
  }
}

@media (min-width: 992px) {
  .viz {
    height: 50vh;
  }

  .mobile-viz {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .motto {
    font-size: 1rem;
  }

  .fit-picture {
    height: 15vh;
  }
}